<mat-dialog-content>
<mat-table #table [dataSource]="dataSource" class="app-table app-table-selsid-table" matSort>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef="let row">{{fields[1]}}</mat-header-cell>
    <mat-cell *matCellDef="let security">{{security.identifier}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="currency">
    <mat-header-cell *matHeaderCellDef>{{fields[4]}}</mat-header-cell>
    <mat-cell *matCellDef="let security">{{security.currency}}</mat-cell>
  </ng-container>
  
  <mat-header-row mat-header-row *matHeaderRowDef="['name', 'currency']"
  class="app-table app-table-selsid-headerrow"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: ['name', 'currency']"
  class="app-tablerow"
  [ngClass]="{highlightedRow: row.securityid==selectedRow}"
  (click)="updateSelected(row)"></mat-row>
</mat-table>
</mat-dialog-content>