<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="addSecurityCategoryGroup">
    <form [formGroup]="addSecurityCategoryGroup">
      <ng-template matStepLabel>Type</ng-template>
      <mat-form-field>
        <mat-select placeholder="Type of security" formControlName="category">
          <mat-option *ngFor="let cat of categories" [value]="cat">{{cat}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="addSecurityDetailsGroup">
    <form [formGroup]="addSecurityDetailsGroup">
      <ng-template matStepLabel>Details</ng-template>
      <mat-form-field>
        <input matInput formControlName="identifier" placeholder="Identifier">
        <mat-hint>Enter a name to identify the security</mat-hint>
        <mat-error *ngIf="securityIdentifierCtrl.hasError('required')">
            Identifier is required
          </mat-error>
      </mat-form-field><br><br>

      <mat-form-field>
          <mat-select formControlName="identifier" placeholder="Markets" multiple>
              <mat-option *ngFor="let market of markets" [value]="market">{{market}}</mat-option>
            </mat-select>
            <mat-hint>Choose one or more markets</mat-hint>
      </mat-form-field><br><br>

      <mat-form-field>
          <mat-select formControlName="currency" placeholder="Currency">
              <mat-option *ngFor="let name of currencyNames" [value]="currenciesList[name].symbol">{{name}}</mat-option>
            </mat-select>
            <mat-hint>Currency in which the security is traded</mat-hint>
      </mat-form-field><br><br>
    
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>      
    </form>
  </mat-step>
  <mat-step *ngIf="securityCategoryCtrl.hasError('required')">
    <ng-template matStepLabel>Watch methods</ng-template> 
  </mat-step>  
  <mat-step *ngIf="!securityCategoryCtrl.hasError('required')" [stepControl]="addSecurityWatchGroup[addSecurityCategoryGroup.get('category').value]">
    <form [formGroup]="addSecurityWatchGroup[addSecurityCategoryGroup.get('category').value]">            
      <ng-template matStepLabel>Watch methods</ng-template>              
      <div fxLayout="column" fxLayoutGap="30px">
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="left center" *ngFor="let m of methods[addSecurityCategoryGroup.get('category').value]">
          <mat-checkbox formControlName="selected{{m[2]}}" (change)="toggleButton(m[2])">{{m[0]}}</mat-checkbox>          
          
          <mat-form-field class="tickerfield">
            <input matInput formControlName="ticker{{m[2]}}">
            <mat-hint>{{m[1]}}</mat-hint>
          </mat-form-field>
          
          <button mat-button mat-raised-button color="primary" [disabled]="disableMethod[m[2]]" (click)="testMethod(m[2])">
            Test
          </button>
        </div>
      </div>
    </form>
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirm</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.submit()">Submit</button>
    </div>
  </mat-step>
  
</mat-horizontal-stepper>