.app-securitygraph-groupmenu-select {
    display: inline-block;
    min-width: 100px;
}

.app-securitygraph-groupmenu {
    display: inline-block;
    float: right;
}

.app-securitygraph-groupmenu-element {
    display: inline-block;
}

.app-securitygraph-rangetoggle {
    line-height: 100%;
}

.app-securitygraph-togglebutton {
    line-height: 100%;
    padding: 0 6px;
}
