<div class="overlay-spinner-wrapper">
    <div *ngIf="!displayChart" fxLayout="row" fxLayoutAlign="center center" class="overlay-spinner">          
          <mat-spinner diameter=30 strokeWidth=5></mat-spinner>
    </div>
  
  <div fxLayout="row" 
   fxLayoutAlign="space-between center" fxLayoutGap="10px">
   <div class="app-securitygraph-rangemenu">
    <mat-button-toggle-group class="app-securitygraph-rangetoggle" 
    id="toggle-group-borderless" #group="matButtonToggleGroup"
    (change)="setRange($event)" value="All">
      <mat-button-toggle class="app-securitygraph-rangetoggle" id="toggle-label-thin" value="1w">
        1w
      </mat-button-toggle>
      <mat-button-toggle class="app-securitygraph-rangetoggle" id="toggle-label-thin" value="1m">
        1m
      </mat-button-toggle>
      <mat-button-toggle class="app-securitygraph-rangetoggle" id="toggle-label-thin" value="6m">
        6m
      </mat-button-toggle>
      <mat-button-toggle class="app-securitygraph-rangetoggle" id="toggle-label-thin" value="1y">
        1y
      </mat-button-toggle>
      <mat-button-toggle class="app-securitygraph-rangetoggle" id="toggle-label-thin" value="All">
        All
      </mat-button-toggle>
    </mat-button-toggle-group>
   </div>
    <div class="app-securitygraph-groupmenu">
    <div class="app-securitygraph-groupmenu-element app-rightmarginxs">
    Group by:
    </div>
    <div class="app-securitygraph-groupmenu-select" *ngIf="dataLoaded">
      <mat-select (selectionChange)="reGroupData()" [(value)]="groupby">
      <mat-option *ngFor="let sec of securityData.slice(1); let secid=index" value="{{secid}}">{{sec.identifier}}</mat-option>      
    </mat-select></div>
    </div>  
  </div>
  <ngx-charts-area-chart-stacked *ngIf="displayChart"
    [results]="lineData"    
    scheme="picnic"    
    xAxis="true"
    yAxis="true"
    showXAxisLabel="true"
    showYAxisLabel="true"
    xAxisLabel="Date"
    yAxisLabel="Value (CHF)"
    timeline="true"
    xScale="date"
    gradient="true"
    >
  </ngx-charts-area-chart-stacked>
</div>