mat-toolbar {
    color: 'primary';
}

#wrapper{
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.app-toolbar-title {
    display: inline;
    //font-family: zonji;
    font-family: shirayuki;
    font-weight: bold;
    font-size: 11pt;
}

.app-toolbar-summary {
    display: inline;
}