.app-breakdown-groupmenu-select {
    display: inline-block;
    min-width: 100px;
}

.app-breakdown-groupmenu {
    display: inline-block;
    float: right;
}

.app-breakdown-groupmenu-element {
    display: inline-block;
}

.legend-wrap {
    white-space: pre-wrap;
}

