<div class="overlay-spinner-wrapper">
    <div *ngIf="!displayChart" fxLayout="row" fxLayoutAlign="center center" class="overlay-spinner">          
          <mat-spinner diameter=30 strokeWidth=5></mat-spinner>
    </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <div class="app-history-groupmenu">
    <div class="app-history-groupmenu-element app-rightmarginxs">
    Group by:
    </div>
    <div class="app-history-groupmenu-select">
      <mat-select (selectionChange)="reGroupData()" [(value)]="groupby">
      <mat-option value="security">Asset</mat-option>
      <mat-option value="account">Account</mat-option>
      <mat-option value="currency">Currency</mat-option>
      <mat-option value="portfolio">Portfolio</mat-option>
    </mat-select></div>
    </div>  
  </div>
  <ngx-charts-area-chart-stacked *ngIf="displayChart"
    [results]="lineData"    
    scheme="picnic"    
    xAxis="true"
    yAxis="true"
    showXAxisLabel="true"
    showYAxisLabel="true"
    xAxisLabel="Date"
    yAxisLabel="Value (CHF)"
    timeline="true"
    xScale="date"
    gradient="true"
    >
  </ngx-charts-area-chart-stacked>
</div>