/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$font-stack:    Helvetica, sans-serif;
$app-color-lightblue: rgb(80, 60, 180); 
$app-color-lightgray: rgb(180, 180, 180); 
$app-color-orange: rgb(230, 133, 23);

$app-major-color: $app-color-lightblue;
$app-accent-color: $app-color-orange;

$marginSmall: 20px;

@font-face {
    font-family: zonji;
    src: url('assets/fonts/Zomzi.TTF') format('truetype');
}

@font-face {
    font-family: shirokuma;
    src: url('assets/fonts/shirokuma.otf') format('opentype');
}

.filler {
    max-width: 100%;
    min-width: 1px;
    height: auto;
    display: inline-block;
}

.divider{
    width:5px;
    min-height:1px;
    height:auto;
    display:inline-block;
}

// Background and font colors for elements
.app-bg-major {
    background-color: $app-major-color;
    color: white;
}

.app-font-major {
    color: $app-major-color;
}

// Dialog boxes
.app-dialog {
    :host {
        border: 1px solid $app-major-color;
    }
}

// Titles
.app-dialog-title {
    font: $font-stack;
    text-align: center;
    color: $app-major-color;
}

// Dialog classes
.app-dialog-panel-login {
    display: flex;
    max-width: 300px;
}

.app-stepper-nextbtn {
    display: inline-block;
}

.app-stepper-backbtn {
    display: inline-block;
}

.app-stepper-submitbtn {
    display: inline-block;
}

.app-flex {
    display: flex;
}

.app-bottommargins {
    margin-bottom: $marginSmall;
}

.app-topmargins {
    margin-top: $marginSmall;
}
