/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$font-stack:    Helvetica, sans-serif;
$app-color-lightblue: rgb(122, 81, 236); 

$app-major-color: $app-color-lightblue;

.filler {
    max-width: 100%;
    min-width: 1px;
    height: auto;
    display: inline-block;
}

.divider{
    width:5px;
    min-height:1px;
    height:auto;
    display:inline-block;
}

// Background and font colors for elements
.app-bg-major {
    background-color: $app-major-color;
    color: white;
}

.app-font-major {
    color: $app-major-color;
}

// Dialog boxes
.app-dialog {
    :host {
        border: 1px solid $app-major-color;
    }
}

// Titles
.app-dialog-title {
    font: $font-stack;
    text-align: center;
    color: $app-major-color;
}

// Dialog classes
.app-dialog-panel-login {
    display: flex;
    max-width: 300px;
}